{% extends 'home/base.html' %}

{% block title %} Medicos{% endblock %}
{%block content %}

<br>
<div class="row">
	<div class="col-lg-12">	
		{% if form.errors %}
		<div class="alert alert-danger">
		    <a href="#" class="close" data-dismiss="alert">&times;</a>
		    <strong>Corregir los siguientes errores!</strong> {{ form.errors }}
		</div>
		{% endif %}	
	</div>
</div>

<div class="row">
	<div class="col-lg-12">	
		<form action="." method="POST">
		{% csrf_token %}
			<div class="panel panel-primary">
			    <div class="panel-heading">
			    	<i class="fa fa-user-md"></i> Formulario para Agregar o Editar un Médico
			    	<div class="pull-right">
			    		<button type="submit" class="btn btn-primary btn-xs">Crear / Editar</button>
			    	</div>	
			    </div>
			    <!-- /.panel-heading -->
			    <div class="panel-body">
					<div class="row">
						<div class="col-lg-4"><p><label for="id_nombre">Nombres del Medico:</label> {{form.nombre}}</p></div>
						<div class="col-lg-4"><p><label for="id_papellido">Primer Apellido:</label> {{form.papellido}}</p></div>
						<div class="col-lg-4"><p><label for="id_sapellido">Segundo Apellido:</label> {{form.sapellido}}</p> </div>
					</div>
					<div class="row">
						<div class="col-lg-3"><p><label for="id_cedula">Cedula:</label> {{form.cedula}}</p></div>
						<div class="col-lg-6"><p><label for="id_especialidad">Especialista en:</label> {{form.especialidad}}</p></div>
						<div class="col-lg-3"><p><label for="id_registro">Registro Medico:</label> {{form.registro}}</p> </div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<p><label for="id_usuario">Usuario:</label>{{form.usuario}}</p>
						</div>
						<div class="col-lg-3">
							<p><label for="id_imagen">Firma:</label>{{form.imagen}}</p>
						</div>	
					</div>
					<br> 
					<p>Nota: Para editar un doctor, seleccionelo y luego proceda a editar sus campos. Al finalizar haga click en Crear / Editar</p>
			    </div>	
			</div>
		</form>	    	        	
  	</div>	
</div>

<div class="row">
	<div class="col-lg-12">
	    <h1 class="page-header">Listado de Medicos</h1>
	</div>
</div>

<div class="row">
  <div class="col-lg-12">
	{% if medicos %}
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        Medicos
		    </div>
		    <!-- /.panel-heading -->
		    <div class="panel-body">
		        <div class="table-responsive">
		            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
			    	<thead>
				        <tr>
				          <th>Nombre</th>
				          <th>1er Apellido</th>
				          <th>2do Apellido</th>
				          <th>Cedula</th>
				          <th>Especialidad</th>
				          <th>Registro</th>
				          <th>Estado</th>
				          <th></th>
				        </tr>
			        </thead>
			        <tbody>
			    	{% for p in medicos %}
			 		<tr id="tr{{p.id}}">
						<td>{{ p.nombre}}</td>
						<td>{{ p.papellido }}</td>
						<td>{{ p.sapellido }}</td>
						<td>{{ p.cedula }}</td>
						<td>{{ p.especialidad }}</td>
						<td>{{ p.registro }}</td>
						<td>{{ p.estado }}</td>
						<td><a class="btn btn-primary btn-xs selecciona" id="{{p.id}}"><i class="glyphicon glyphicon-ok"></i></a></td>
					</tr>
					{% endfor %}
					</tbody>
		    		</table>
		    	</div>
		    </div>
		</div>    		
	{% else %}
	<h2>No existen Medicos</h2>
	{% endif %}
	</div>
</div>	

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	$('.selecciona').click(function () {
		var Pid = $(this).attr('id');
		var numero = $('#tr'+Pid).find("td:first").text();
		var numero2 = $('#tr'+Pid).find("td:eq(1)").text();
		var numero3 = $('#tr'+Pid).find("td:eq(2)").text(); 
		var numero4 = $('#tr'+Pid).find("td:eq(3)").text(); 
		var numero5 = $('#tr'+Pid).find("td:eq(4)").text(); 
		var numero6 = $('#tr'+Pid).find("td:eq(5)").text();   
		$('#id_nombre').val(numero);
		$('#id_papellido').val(numero2);
		$('#id_sapellido').val(numero3);
		$('#id_cedula').val(numero4);
		//Ajax
		$.ajax({
			data : {'temp_especialidad':numero5},
			url : '/consulta_especialidad/',
			type : 'get',
			success : function(data){
				var seleccion = data[0].pk
				$("#id_especialidad option[value="+ seleccion +"]").attr("selected",true);
				var temp = $("#id_especialidad option[value="+ seleccion +"]").attr("selected");
				console.log(temp) 
			}
		});
		$('#id_registro').val(numero6);   
	});
});
</script>
{% endblock %}
