<table class="table table-bordered table-responsive join table-body">
    <tr>
        <th>USA LENTES CORRECTIVOS</th>
        <td>{{ examen.lentes_correctivos|yesno:"SI,NO,NO"}}</td>
        <th>HACE CUANTO</th>
        <td>{{ examen.hace_cuanto|upper }}</td>
    </tr>
    <tr>
        <th colspan="4" style="text-align:center">ANTECEDENTES PERSONALES OFTALMOLOGICOS</th>
    </tr>
</table>
<table class="table table-bordered table-responsive join table-body">
    <tr>
        <th>CIRUGIA</th>
        <td>{% if examen.cirugia %}{{ examen.cirugia|upper }}{% else %}NO{% endif %}</td>
        <th>TRAUMA OCULAR</th>
        <td>{% if examen.trauma_ocular %}{{ examen.trauma_ocular|upper }}{% else %}NO{% endif %}</td>
        <th>PTERIGIO</th>
        <td>{% if examen.pterigio %}{{ examen.pterigio|upper }}{% else %}NO{% endif %}</td>
        <th>COLORES</th>
        <td>{% if examen.colores %}{{ examen.colores|upper }}{% else %}NO{% endif %}</td>
    </tr>
</table>
<table class="table table-bordered table-responsive join table-body">
    <thead>
        <tr>
            <th></th>
            <th>VISION LEJANA</th>
            <th>VISION CERCANA</th>
            <th>AV</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>O.D</th>
            <td>{{ examen.vision_lejana_od }}</td>
            <td>{{ examen.vision_cercana_od }}</td>
            <td>{{ examen.av_od }}</td>
        </tr>
        <tr>
            <th>O.I</th>
            <td>{{ examen.vision_lejana_oi }}</td>
            <td>{{ examen.vision_cercana_oi }}</td>
            <td>{{ examen.av_oi }}</td>
        </tr>
        <tr>
            <th>A.O</th>
            <td>{{ examen.vision_lejana_ao }}</td>
            <td>{{ examen.vision_cercana_ao }}</td>
            <td>{{ examen.av_ao }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-responsive join table-body">
    <thead>
        <tr>
            <th colspan="9" style="text-align:center">REFRACCION FINAL</th>
        </tr>
        <tr>
            <th></th>
            <th>ESF</th>
            <th>CIL</th>
            <th>EJE</th>
            <th>ADD</th>
            <th>D.P</th>
            <th>N.P</th>
            <th>ALT</th>
            <th>PRISMA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>O.D</th>
            <td>{% if examen.esf_od %}{{ examen.esf_od }}{% endif %}</td>
            <td>{% if examen.cil_od %}{{ examen.cil_od }}{% endif %}</td>
            <td>{% if examen.eje_od %}{{ examen.eje_od }}{% endif %}</td>
            <td>{% if examen.add_od %}{{ examen.add_od }}{% endif %}</td>
            <td>{% if examen.dp_od %}{{ examen.dp_od }}{% endif %}</td>
            <td>{% if examen.np_od %}{{ examen.np_od }}{% endif %}</td>
            <td>{% if examen.alt_od %}{{ examen.alt_od }}{% endif %}</td>
            <td>{% if examen.prisma_od %}{{ examen.prisma_od }}{% endif %}</td>
        </tr>
        <tr>
            <th>O.I</th>
            <td>{% if examen.esf_oi %}{{ examen.esf_oi }}{% endif %}</td>
            <td>{% if examen.cil_oi %}{{ examen.cil_oi }}{% endif %}</td>
            <td>{% if examen.eje_oi %}{{ examen.eje_oi }}{% endif %}</td>
            <td>{% if examen.add_oi %}{{ examen.add_oi }}{% endif %}</td>
            <td>{% if examen.dp_oi %}{{ examen.dp_oi }}{% endif %}</td>
            <td>{% if examen.np_oi %}{{ examen.np_oi }}{% endif %}</td>
            <td>{% if examen.alt_oi %}{{ examen.alt_oi }}{% endif %}</td>
            <td>{% if examen.prisma_oi %}{{ examen.prisma_oi }}{% endif %}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-responsive join table-body">
    <tr>
        <th>FORIA</th>
        <td>{% if examen.foria %}{{ examen.foria }}{% else %}SIN DATOS{% endif %}</td>
        <th>CAMPIMETRIA</th>
        <td>{% if examen.campimetria %}{{ examen.campimetria }}{% else %}SIN DATOS{% endif %}</td>
        <th>REMITIR A OFTALMOLOGIA</th>
        <td>{{ examen.remitir_oftamologia|yesno:"SI,NO,NO" }}</td>
    </tr>
</table>
<table class="table table-bordered table-responsive table-body">
    <tr>
        <th>RECOMENDACIONES</th>
    </tr>
    <tr>
        <td>{% if examen.recomendaciones %}{{ examen.recomendaciones|title }}{% else %}NINGUNA{% endif %}</td>
    </tr>
</table>
<div class="row">
    <div class="col-md-3">
        {% if examen.visiometra.get_firma %}
        <img class="firma" src="http://{{ request.META.HTTP_HOST }}{{ examen.visiometra.get_firma.url }}" alt="" width="150px" height="80px"/>
        <br>
        {% else %}
        <hr>
        {% endif %}
        <p>FIRMA DEL EXAMINADOR</p>
    </div>
    <div class="col-md-3 col-md-offset-3">
        {% if orden.paciente.firma %}
        <img class="firma" src="http://{{ request.META.HTTP_HOST }}{{ orden.paciente.firma.url }}" alt="" width="150px" height="80px"/>
        <br>
        {% else %}
        <hr>
        {% endif %}
        <p>FIRMA DEL EXAMINADO</p>
    </div>
</div>
