{% extends 'home/base.html' %}

{% block js %}
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/fullcalendar.min.js"></script>
<script src='/static/js/es.js'></script>
<script type="text/javascript">
  $(document).ready(function(){
		//Cuando se cierra el modalform se limpian los inputs reseteando el formulario
		//Es muy importante hacer esto ya que de esta manera se evita que el token se pierda
		$('body').on('hidden.bs.modal', '.modal', function () { //Detecta que el modal fue cerrado
		  $('body').find('form')[0].reset(); //Resetea el formulario
		});

		$('#id_cedula').on('change',busca_paciente);
		function busca_paciente(){
        	var valor_cedula = $(this).val();
        	$.ajax({
                async : false,
				data : {'cedula':valor_cedula},
				url : '/busca/paciente/',
				type : 'get',
				success : function(data){
					if(data != ""){
						$('#id_pnombre').val(data[0].fields.pnombre);
						$('#id_snombre').val(data[0].fields.snombre);
						$('#id_papellido').val(data[0].fields.papellido);
						$('#id_sapellido').val(data[0].fields.sapellido);
						$('#id_documento').val(data[0].fields.documento);
						$('#id_documento').change();
						$('#id_telefono').val(data[0].fields.telefono);
						$('#id_celular').val(data[0].fields.celular);
						$('#id_empresa').val(data[0].fields.procede);
						$('#id_empresa').change();
					}
				}
			});	
        }

      	$('#idMedico').on('change',cambia_vista);
      	function cambia_vista(){
        	$('#calendar').fullCalendar('refetchEvents');  
        }

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},

			eventClick: function(calEvent, jsEvent, view) {
				if (calEvent.title == 'Reservado'){
					return false
				}
		        //alert('Event: ' + calEvent.title); //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY); //alert('View: ' + view.name);
				var id = calEvent.id;
				$.ajax({
	                async : false,
					data : {'id':id},
					url : '/obtiene/citas/procedimientos/',
					type : 'get',
					success : function(data){
				        $('#id_start').val(calEvent.start.format('YYYY-MM-DD HH:mm'));
						$('#id_end').val(calEvent.end.format('YYYY-MM-DD HH:mm'));
						$('#id_pnombre').val(data[0].fields.pnombre);
						$('#id_snombre').val(data[0].fields.snombre);
						$('#id_papellido').val(data[0].fields.papellido);
						$('#id_sapellido').val(data[0].fields.sapellido);
						$('#id_documento').val(data[0].fields.documento);
						$('#id_documento').change();
						$('#id_cedula').val(data[0].fields.cedula);
						$('#id_telefono').val(data[0].fields.telefono);
						$('#id_celular').val(data[0].fields.celular);
						$('#id_procedimiento').val(data[0].fields.procedimiento);
						$('#id_procedimiento').change();
						$('#id_empresa').val(data[0].fields.empresa);
						$('#id_empresa').change();
						$('#id_hora_llegada').val(data[0].fields.hora_llegada);
						$("#id_confirmo").prop("checked", data[0].fields.confirmo);
						$("#id_llego").prop("checked", data[0].fields.llego);
						$("#id_confirmo").prop("checked", data[0].fields.confirmo);
						$("#id_cumplida").prop("checked", data[0].fields.cumplida);
						$("#id_anestesiologo").prop("checked", data[0].fields.anestesiologo);
						$('#id_observacion').val(data[0].fields.observacion);
						$('#id_crear').val(id);
						$('#preliminar').modal(); //Abre el modalform	
					}
				});
		        // change the border color just for fun //$(this).css('border-color', 'red');
		    },

			dayClick: function(date, jsEvent, view) {
		        if(view.name=="month"){
		        	$('#calendar').fullCalendar('changeView','agendaWeek'); //Pasa a la vista de semana
		        }else{
		        	//Obtiene una fecha tipo moment apartir del momento que se digito
		        	var local = $.fullCalendar.moment(date.format());
		        	eventData = { //Ensambla el evento a guardar
						start: date,
						end: local.add(15,'minutes'),
						editable: true,
						overlap: false,
					};
					$('#id_start').val(eventData.start.format('YYYY-MM-DD HH:mm'));
					$('#id_end').val(eventData.end.format('YYYY-MM-DD HH:mm'));
					$('#preliminar').modal(); //Abre el modalform
		        }	
		    },

			eventDrop: function(event, delta, revertFunc) {
		        //alert(event.title + " was dropped on " + event.start.format());
		        if (!confirm("¿Desea mover la cita para el siguiente horario:" + event.start.format() + " ?")) {
		            revertFunc();
		        }else{
		        	eventData = { //Ensambla el evento a guardar
		        		id: event.id,
						start: event.start,
						end: event.end,
					};
					$.ajax({
					    data : {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,'id':eventData.id,'start':eventData.start.format('YYYY-MM-DD HH:mm'),'end':eventData.end.format('YYYY-MM-DD HH:mm'),'medico': $('#idMedico').val()},
					    url : '/calendario/procedimientos/',
					    type : 'post',
					    success : function(data){
					        if(data.status=="True"){
					            //$('#calendar').fullCalendar('renderEvent', eventData, true);
					            //$('#calendar').fullCalendar('refetchEvents');  
					        }else{
					            alert("Hubo un error al intentar mover la cita");
					        }    
					    }
					});
		        }
		    },
			//defaultDate: '2014-11-12',
			slotDuration: '00:15:00',
			slotEventOverlap: false,
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: { //events:'calendario/',
				//editable: false, //overlap: false, //color: '#ff9f89',  //D3D3D3
		        url: '/calendario/procedimientos/',
		        data: function() { // a function that returns an object
		            return {
		                doctor: $('#idMedico').val()
		            };
		        }
		    }
		});
  });
</script>
{% endblock %}

{% block title %} Citas{% endblock %}
{%block content %}

<div class="row">
	<div class="col-lg-12">
	    <h4 class="page-header">Crear Citas de Procedimiento</h4>
	</div>
</div>

{% if error %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    No fue posible crear la cita, verifique que se haya seleccionado un Doctor, los campos obligatorios deben ser diligenciados.
</div>
{% endif %}

<form action="." method="POST">
{% csrf_token %}
	<div class="row">
		<!--
		<div class="col-lg-12">
		    <h4 class="page-header">Citas</h4>
		</div> 
		-->
		<br>
	    <label for="idMedico">Doctor:</label>
	    <select class="form-control" id="idMedico" name="medico">
	        <option value="-1" {% if not lista_medicos %} selected="selected" {% endif %}>Selecciona un Doctor</option>
	        {% for p in lista_medicos %}
	            <option value="{{ p.id }}" {% if p.nombre == 'Fabian' %} selected="selected" {% endif %}>{{ p.nombre|capfirst}} {{p.papellido|capfirst }}</option>
	        {% endfor %}
	    </select>

		<div id="preliminar" class="modal fade">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Cita de Procedimiento</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
	                <div class="col-lg-4">
	                    {{ form2.start.errors }}
	                    <p><label for="id_start">Desde:</label> {{form2.start}}</p>
	                </div>
	                <div class="col-lg-4">
	                    {{ form2.end.errors }}
	                    <p><label for="id_end">Hasta:</label> {{form2.end}}</p>
	                </div>
	            </div>
	            <h4 class="page-header">Datos del Paciente</h4>
	            <div class="row">
	                <div class="col-lg-3">
	                    {{ form.cedula.errors }}
	                    <p><label for="id_cedula">Numero Identificacion:</label> {{form.cedula}}</p>
	                </div>
	                <div class="col-lg-3">
	                    {{ form.documento.errors }}
	                    <p><label for="id_documento">Tipo Documento:</label> {{form.documento}}</p>
	                </div>
	            </div>
				<div class="row">
	                <div class="col-lg-3">
	                    {{ form.pnombre.errors }}
	                    <p><label for="id_pnombre">1er Nombre:</label> {{form.pnombre}}</p>
	                </div>
	                <div class="col-lg-3">
	                    {{ form.snombre.errors }}
	                    <p><label for="id_snombre">2do Nombre:</label> {{form.snombre}}</p>
	                </div>
	                <div class="col-lg-3">
	                    {{ form.papellido.errors }}
	                    <p><label for="id_papellido">1er Apellido:</label> {{form.papellido}}</p>
	                </div>
	                <div class="col-lg-3">
	                    {{ form.sapellido.errors }}
	                    <p><label for="id_sapellido">2do Apellido:</label> {{form.sapellido}}</p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-3">
	                    {{ form.telefono.errors }}
	                    <p><label for="id_telefono">Telefono:</label> {{form.telefono}}</p>
	                </div>
	                <div class="col-lg-3">
	                    {{ form.celular.errors }}
	                    <p><label for="id_celular">Celular:</label> {{form.celular}}</p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-6">
	                    {{ form.consulta.errors }}
	                    <p><label for="id_procedimiento">Tipo Procedimiento:</label> {{form.procedimiento}}</p>
	                </div>
	                <div class="col-lg-6">
	                    {{ form.empresa.errors }}
	                    <p><label for="id_empresa">Empresa:</label> {{form.empresa}}</p>
	                </div>
	            </div>
	            <br>
	            <div class="row">
	                <div class="col-lg-3">
	                    {{ form.confirmo.errors }}
	                    <p><label for="id_confirmo">Confirmo:</label> {{form.confirmo}}</p>
	                </div>
	                <div class="col-lg-3">
	                    {{ form.llego.errors }}
	                    <p><label for="id_llego">Llego:</label> {{form.llego}}</p>
	                </div>
	                <div class="col-lg-3">
	                    {{ form.cumplida.errors }}
	                    <p><label for="id_cumplida">Cumplida:</label> {{form.cumplida}}</p>
	                </div>
	                <div class="col-lg-3">
	                    {{ form.anestesiologo.errors }}
	                    <p><label for="id_anestesiologo">Anestesiologo:</label> {{form.anestesiologo}}</p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-lg-3">
	                    {{ form.hora_llegada.errors }}
	                    <p><label for="id_hora_llegada">Hora Llegada:</label> {{form.hora_llegada}}</p>
	                </div>
	                <div class="col-lg-6">
	                    {{ form.observacion.errors }}
	                    <p><label for="id_observacion">Observacion:</label> {{form.observacion}}</p>
	                </div>
	            </div>
	            <div class="row">
	            	<input type="hidden" id="id_crear" name="crear">
	            </div>			    
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-default">Guardar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</form>  	
<br>
<!-- FullCalendar Container-->
<div class="row">
	<div id='calendar'></div>
</div>	

{% endblock %}

<!--
$.ajax({
    data : {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,'title':eventData.title,'start':eventData.start.format('YYYY-MM-DD HH:mm'),'end':eventData.end.format('YYYY-MM-DD HH:mm'),'medico': $('#idMedico').val(),'editable':eventData.editable,'overlap':eventData.overlap},
    url : '/calendario/',
    type : 'post',
    success : function(data){
        if(data.status=="True"){
            alert("Exito!");
            $('#calendar').fullCalendar('renderEvent', eventData, true);
        }else{
            alert("Hubo un error");
        }    
    }
});
-->