{% extends 'home/base.html' %}

{% block js %}
<!-- Page-Level Plugin Scripts - Morris -->
<!-- <script src="/static/js/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="/static/js/plugins/morris/morris.js"></script>-->
{% endblock %}

{% block title %} Inicio - Bienvenidos {% endblock %}
{% block content %}
 
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <a href="{% url 'vista_pacientes' 1 %}" class="help-block">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-5">
                          <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-7 text-center">
                            <p class="announcement-heading"></p>
                            <p class="announcement-text">Listar pacientes</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3">
        <a href="{% url 'vista_ordenes' %}" class="help-block">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-7 text-center">
                            <p class="announcement-heading"></p>
                            <p class="announcement-text">Ordenes de Servicio</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3">
        <a href="{% url 'vista_agregar_paciente' %}" class="help-block">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-7 text-center">
                            <p class="announcement-heading"></p>
                            <p class="announcement-text">Crear Paciente Nuevo</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3">
        <a href="{% if perms.home.es_coordinador_general %}/portal_empresas/{% else %}/buscar_orden/{% endif %}" class="help-block">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-search fa-5x"></i>
                        </div>
                        <div class="col-xs-7 text-center">
                            <p class="announcement-heading"></p>
                            <p class="announcement-text">Buscar Orden</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}