{% extends 'home/base.html' %}

{% block title %} Ordenes de Servicio{% endblock %}
{%block content %}

<div class="row">
	<div class="col-lg-12">
	    <h4 class="page-header">Ordenes de Servicio</h4>
	</div>
</div>

{% if error %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Debe seleccionar algun criterio de busqueda: Rango de fechas o Numero de Orden
</div>
{% endif %}

<form action="." method="POST">
{% csrf_token %}
	<div class="row">
		<div class="col-lg-3">
			<p><label for="id_fechai">Fecha Inicial:</label> {{form.fechai}}</p>
		</div>
		<div class="col-lg-3">
			<p><label for="id_fechaf">Fecha Final:</label> {{form.fechaf}}</p>
		</div>
		<div class="col-lg-4">
			<label>Numero de Orden</label>
            <input name="numero" class="form-control">
            <p class="help-block">Fechas ignoradas si busca numero de orden</p>
		</div>
		<div class="col-lg-2">
			<p><label for="id_fechai"> </label><button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-search"></i>  Buscar</button></p>
		</div>
	</div>
</form>
<br>
<div class="row">
  <div class="col-lg-12">
	{% if lista %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
    	<thead>
	        <tr>
	          <th>Id</th>
	          <th>Cedula</th>
	          <th>Nombre</th>
	          <th>Tipo</th>
	          <th>Empresa</th>
	          <th>Empresa Cliente</th>
	          <th>Fecha At</th>
	          <th></th>
	        </tr>
        </thead>
        <tbody>
    	{% for p in lista %}
	    	{% if p.orden.status == 'P' %}
	     		<tr id="tr{{p.orden.id}}" class="danger">
	     			<td>{{ p.orden.id }}</td>
	     			<td>{{ p.orden.paciente.cedula }}</td>
	     			<td>{{ p.orden.paciente.papellido }} {{ p.orden.paciente.sapellido }} {{ p.orden.paciente.pnombre  }} {{ p.orden.paciente.snombre  }}</td>
	     			<td>{{p.servicios}}</td>
	     			<td>{{p.orden.empresa.razon}}</td>
	     			<td>{{p.orden.empresa_cliente}}</td>
	     			<td>{{ p.orden.fecha_atencion|date:"d/m/Y" }}</td>
	     			<td></td>
				</tr>
	    	{% else %}
	     		<tr id="tr{{p.orden.id}}" class="success">
					<td>{{ p.orden.id }}</td>
	     			<td>{{ p.orden.paciente.cedula }}</td>
	     			<td>{{ p.orden.paciente.papellido }} {{ p.orden.paciente.sapellido }} {{ p.orden.paciente.pnombre  }} {{ p.orden.paciente.snombre  }}</td>
	     			<td>{{p.servicios}}</td>
	     			<td>{{p.orden.empresa.razon}}</td>
	     			<td>{{p.orden.empresa_cliente}}</td>
	     			<td>{{ p.orden.fecha_atencion|date:"d/m/Y" }}</td>
	     			<td><a class="btn btn-primary btn-xs" href="/imprimir/concepto/{{ p.orden.id  }}"><i class="glyphicon glyphicon-print"></i></a></td>
				</tr>
	    	{% endif %}
		{% endfor %}
		</tbody>
		</table>
	</div>
	{% else %}
	<h2>No existen Ordenes de Servicio para esta Consulta</h2>
	{% endif %}
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_fechai").datepicker({
                                    dateFormat: 'yy-mm-dd',
                                    //changeYear: true,
                                    //changeMonth: true,
                                    yearRange: 'c-50:c'
                                });
        $("#id_fechaf").datepicker({
                                    dateFormat: 'yy-mm-dd',
                                    //changeYear: true,
                                    //changeMonth: true,
                                    yearRange: 'c-50:c'
                                });
    });
</script>
{% endblock %}
