@page {
    size: letter portrait;
    margin: 1cm 0cm;
}

@media print {

    .row {
        width: 100% !important;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666666%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    table>thead>tr>th {
        border-bottom: 0px !important;
    }

    table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
        border: 0px !important;
    }

    .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
        border: 0px !important;
    }

    .table-header {
        border-collapse: separate !important;
        font-size: 10px !important;
        margin: 0;
        margin-top: -9px;
    }

    .table> tbody> tr> th {
        padding: 4px !important;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    .table-body {
        font-size: 10px;
    }

    #foto-paciente {
        height: 100px !important;
        width: 100% !important;
    }

    .firma-bacteriologo {
        width: 100px;
        height: 50px;
    }

    .resultado-content {
        margin-top: -80px;
    }

    .footer-content {
        font-size: 8px;
    }

    footer p {
        font-size: 6px !important;
    }

    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        padding: 0;
        vertical-align: initial;
        border-top: 0;
    }

    .table {
        font-size: 14px;
        page-break-inside: auto;
    }

    tr {
        page-break-inside:avoid;
        page-break-after:auto
    }
    
    .dl, .dd {
        display: inline-block;
    }

    dl {
        font-size: 14px;
    }

    .hidden-print {
        display: none;
    }

    .toolbar--absolute+main, .toolbar--fixed+main {
        padding-top: 0px !important;
    }

    table.table tbody td:first-child, table.table tbody td:not(:first-child), table.table tbody th:first-child, table.table tbody th:not(:first-child), table.table thead td:first-child, table.table thead td:not(:first-child), table.table thead th:first-child, table.table thead th:not(:first-child) {
        padding: 0px !important;
    }

    table.table tr:not(:last-child) {
        border-bottom: initial !important;
    }

    table.table tbody td, table.table tbody th {
        height: 10px;
    }
}

.sidebar .material-icons.icon {
    line-height: inherit !important;
}

body {
  background-color: #f5f5f5;
}

.wrap__all {
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: fixed;
  z-index: 100000;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -55px;
}

.card {
    position: relative;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 2px;
}

.card, .mini-charts-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.card .card-header.ch-alt:not([class*="bgm-"]) {
    background-color: #f7f7f7;
}

.card .card-header {
    position: relative;
    display: block;
    padding: 26px 30px;
    border-radius: 2px 2px 0 0;
}

.card .card-body.card-padding {
    padding: 26px 30px;
}

.text-center {
    text-align: center;
}

table>thead>tr>th {
    border-bottom: 0px;
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border: 0px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 0px;
}

.firma {
    position: relative;
    width: 30%;
}


.table-header {
    border-collapse: separate;
    border-radius: 12px;
    font-size: 12px;
}

.table-body {
    border: 0;
}

.title-centered {
    text-align: center;
}

.table> tbody> tr> th {
    padding: 4px;
}

#foto-paciente {
    height: 150px;
    width: 150px;
}