{% load staticfiles resultados %}

{% regroup resultados by laboratorio.seccion_trabajo as resultados_areas %}

{% for resultado_area in resultados_areas %}
<h6 class="title">{{ resultado_area.grouper|upper }}</h6>
<table class="table table-responsive table-bordered table-body">
    <thead>
        <tr class="header">
            <th></th>
            <th>Resultado</th>
            <th>Unidades</th>
            <th>Referencias</th>
        </tr>
    </thead>
    <tbody>

        {% regroup resultado_area.list by bacteriologo as resultados_bacteriologo %}
        
        {% for resultado_bacteriologo in resultados_bacteriologo %}
            {% for resultado_inner in resultado_bacteriologo.list %}
                {% include "laboratorios/table-body.html" with resultado=resultado_inner %}
                <tr style="height: 10px !important;">
                    <td colspan="4"></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td colspan="2" style="text-align: right;">
                    <div>
                        {% if resultado_bacteriologo.grouper.firma and resultado_bacteriologo.grouper.firma.url %}
                        <img class="firma-bacteriologo" src="http://{{ request.META.HTTP_HOST }}{{ resultado_bacteriologo.grouper.firma.url }}" alt="" width="150px" height="80px"/>
                        <br>
                        {% else %}
                        <hr />
                        {% endif %}
                        <p>{{ resultado_bacteriologo.grouper.nombre|upper }}</p>
                    </div>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endfor %}