<!--<div class="">-->
    <footer class="row title-centered">
        <div class="col-md-1"></div>
        <div class="col-md-10 footer-content" style="font-size: 10px;">
            <p>
                COPIA DE USO EXCLUSIVO O DEL TITULAR DE LA HISTORIA: Este documento es propiedad exclusiva del titular, que en el figura en virtud de lo consignado en la
                resolucion 1995 de 1999 y las resoluciones 2346 de 2007 y 1918 de 2009. Para la protección y confidencialidad del paciente este documento sólo podrá ser
                entregado a terceras personas o empresas con autorización previa y escrita del titular.
            </p>
            <div class="title-centered">
                <p>Cra. 48 No 74 -156 PBX: 3688151 Celulares : 3013205553 - 3042054787</p>
                <p>Email: gerencia@ipssiom.com Pagina Web: www.ipssiom.com</p>
                <p>Barranquilla - Atlantico</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </footer>
<!--</div>-->