{% load staticfiles %}

<header>
    <div class="row">
        <div class="invoice">
            <div class="">
                <img id="main-logo" src="http://{{ request.META.HTTP_HOST }}{% static 'siomlab_icon.png' %}" alt="Image Not Found" width="350px" height="125px">
                <br>
                <small><p>NIT 900703047-8 · RESOLUCION 0770 DEL 2014</p></small>
                <div class="">
                    <div class="row">
                        <div class="col-md-10">
                            <table class="table table-responsive table-header">
                                {% with paciente=orden.paciente %}
                                <tr>
                                    <th style="width: 10%;">Paciente</th>
                                    <td style="width: 50%;">{{ paciente.pnombre|upper }} {{ paciente.snombre|upper }} {{ paciente.papellido|upper }} {{ paciente.sapellido|upper }}</td>
                                    <th style="width: 12%;">No. Orden</th>
                                    <td style="width: 28%;">{{ orden.id }}</td>
                                </tr>
                            </table>
                            <table class="table table-responsive table-header">
                                <tr>
                                    <th style="width: 5%;">Edad</th>
                                    <td style="width: 10%;">{{ paciente.edad }} {{ paciente.get_unidad_display|upper }}</td>
                                    <th style="width: 5%;">Sexo</th>
                                    <td style="width: 15%;">{% if paciente.genero == 'M' %}MASCULINO{% else %}FEMENINO{% endif %}</td>
                                    <th style="width: 10%;">Identificación</th>
                                    <td style="width: 15%;">{{ paciente.cedula }}</td>
                                    <th style="width: 12%;">Fecha RPC</th>
                                    <td style="width: 28%;">{{ orden.fecha.day }}-{{ orden.fecha.month }}-{{ orden.fecha.year }} A las {{ orden.fecha|date:"h:i A"|upper }}</td>
                                </tr>
                            </table>
                            <table class="table table-responsive table-header">
                                <tr>
                                    <th style="width: 10%;">Telefonos</th>
                                    <td style="width: 50%;">{{ paciente.telefono }}{% if paciente.celular and paciente.telefono %} - {% endif %}{{ paciente.celular }}</td>
                                    <th style="width: 12%;">Medico</th>
                                    <td style="width: 28%;">NO ASIGNADO</td>
                                </tr>
                            </table>
                            <table class="table table-responsive table-header">
                                <tr>
                                    <th style="width: 10%;">Empresa</th>
                                    <td style="width: 50%;">{{ orden.institucion.razon }}({{ orden.institucion.numero }})</td>
                                    <th style="width: 12%;">Fecha</th>
                                    <td style="width: 28%;">{{ orden.fecha_atencion|date:"j-F-Y" }}</td>
                                </tr>
                                {% endwith %}
                            </table>
                        </div>
                        <div class="col-md-2">
                            <img id="foto-paciente" src="http://{{ request.META.HTTP_HOST }}{{ orden.paciente.get_foto }}" alt="Foto Paciente" />
                        </div>
                    </div>
                    <div class="title-centered">
                        <h2 class="">RESULTADOS DE LABORATORIOS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>